# IntroPython

- - -

## Jupyter Notebook - example

In [4]:
d = {'user': 'amy', 'pswd':1234}

In [2]:
d['user']

'amy'

In [3]:
d['pswd']

1234

In [6]:
d['amy']

KeyError: 'amy'

In [7]:
d = {'user' : 'amy', 'pswd': 1234}
d['user'] = 'clare'
d

{'user': 'clare', 'pswd': 1234}

In [8]:
d.clear()
d

{}

In [9]:
a = [1, 2]
del a[1]
a

[1]

## List[]

In [10]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [11]:
squares[0] # indexing returns the item

1

In [12]:
squares[:]

[1, 4, 9, 16, 25]

In [13]:
squares[2:4]

[9, 16]

In [14]:
squares[-1]

25

In [15]:
squares[-3:]

[9, 16, 25]

In [17]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### List Comprehensions

* Python's notation: [**expression** for **name** in **list**]

In [18]:
squares = []

for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares2 = [x**2 for x in range(10)] # List Comprehensions
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
vec = [-4, -2, 0, 2, 4]
vec

[-4, -2, 0, 2, 4]

In [21]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [22]:
[x for x in vec if x>0]

[2, 4]

In [24]:
li = [('a', 1), ('b', 2), ('c', 7)]
[n * 3 for (x, n) in li]

[3, 6, 21]

## Tuple()

In [25]:
t = 12345, 54321, 'hello!' # t = (12345, 54321, 'hello!')
t

(12345, 54321, 'hello!')

In [26]:
t[0]

12345

In [27]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [30]:
print(t[0:2])
print(t[0:3])
print(t[0:4])

(12345, 54321)
(12345, 54321, 'hello!')
(12345, 54321, 'hello!')

In [31]:
u = t, (1, 2, 3)
u

((12345, 54321, 'hello!'), (1, 2, 3))

## List vs. Tuple

In [32]:
a = 123
b = 456
c = 'test'
t2 = a, b, c # sequence packing
t2

(123, 456, 'test')

In [34]:
a1, b1, c1 = t2 # sequence unpacking
print('a1 =', a1, 'b1 =', b1, 'c1 =', c1)

a1 = 123 b1 = 456 c1 = test

## Set{}

In [35]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'} 
basket # show that duplicates have been removed

{'apple', 'banana', 'orange', 'pear'}

In [36]:
'orange' in basket # fast membership testing

True

In [37]:
'crabgrass' in basket

False

In [38]:
a = set('abracadabra')
b = set('alacazam')
a, b

({'a', 'b', 'c', 'd', 'r'}, {'a', 'c', 'l', 'm', 'z'})

In [39]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [40]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [41]:
a & b # letters in both a and b

{'a', 'c'}

In [42]:
a ^ b # letters in a or b not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [43]:
a = {x for x in 'abracadabra' if x not in 'abc'} # set comprehensions
a

{'d', 'r'}

## Dictionaries

In [44]:
d = {'user': 'amy', 'paswd':1234, 'i':34}
d.keys()

dict_keys(['user', 'paswd', 'i'])

In [45]:
d.values()

dict_values(['amy', 1234, 34])

In [46]:
d.items()

dict_items([('user', 'amy'), ('paswd', 1234), ('i', 34)])

In [47]:
d = {'user': 'amy', 'pswd':1234}
d['user']

'amy'

In [48]:
d['pswd']

1234

In [49]:
d['clare']

KeyError: 'clare'

In [50]:
d['user'] = 'clare'
d

{'user': 'clare', 'pswd': 1234}

In [51]:
d['id'] = 45
d

{'user': 'clare', 'pswd': 1234, 'id': 45}

In [52]:
d = {'user': 'amy', 'paswd':1234, 'i':34}
del d['user']
d

{'paswd': 1234, 'i': 34}

In [53]:
d.clear()
d

{}

## Data conversion: list, set, tuple, dictionary

In [54]:
my_set = {'Geeks', 'for', 'geeks'}
l = list(my_set) # to_list
l

['for', 'geeks', 'Geeks']

In [55]:
s = set(l) # to set
s

{'Geeks', 'for', 'geeks'}

In [56]:
t = tuple(l) # to tuple
print(t)
t1 = tuple(s)
print(t1)

('for', 'geeks', 'Geeks')
('for', 'geeks', 'Geeks')

In [57]:
# tuples to dictionary
listofTuples = [('Riti', 11), ('Aadi', 12), ('Sam', 13), ('John', 22), ('Lucy', 90)]
studentsDict = dict(listofTuples)
studentsDict

{'Riti': 11, 'Aadi': 12, 'Sam': 13, 'John': 22, 'Lucy': 90}

In [58]:
# two lists to dictionary
test_keys = ['Rash', 'Kil', 'Varsha']
test_values = [1, 5, 5]
res = dict(zip(test_keys, test_values))
res

{'Rash': 1, 'Kil': 5, 'Varsha': 5}

In [59]:
# dictionary to lists
l = list(res) # list(res.keys())
l

['Rash', 'Kil', 'Varsha']

In [60]:
# dictionary to lists
l = list(res.values())
l

[1, 5, 5]

In [61]:
s = set(res.values())
s

{1, 5}

# Python Data Type: Control-Statement

## Conditional Expressions

In [62]:
x = 10 if True else 5
print(x)

y = 10 if False else 5
print(y)

10
5

## While Loops

In [63]:
x = 3
while x< 5:
    print(x, 'still in the loop')
    x += 1

print('first step is fin!')    
x = 6
while x<5:
    print(x, 'still in the loop')
print('second step is also fin!')

3 still in the loop
4 still in the loop
first step is fin!
second step is also fin!

## For Loops

In [69]:
for someChar in 'Hello World':
    print(someChar)

print('-'*50, '\n\n')

for x in [1,2,3,4]:
    print(x)
    
print('-'*50, '\n\n')

for (x, y) in [('a',1), ('b',2), ('c',3), ('d',4)]:
    print(x)
    
print('-'*50, '\n\n')

for x in range(5): # range(5) returns [0, 1, 2, 3, 4]
    print(x)
    
print('-'*50, '\n\n')

ages = {'Sam': 4, 'Mary':3, 'Bill':2}
ages



for name in ages.keys():
    print(name, ages[name])

H
e
l
l
o

W
o
r
l
d
--------------------------------------------------


1
2
3
4
--------------------------------------------------


a
b
c
d
--------------------------------------------------


0
1
2
3
4
--------------------------------------------------


Sam 4
Mary 3
Bill 2

# Python Data Type: Function

## Calling a Function

In [74]:
def myfun(x, y):
    return x * y

print(myfun(3, 4))

print('-'*50, '\n\n')

def myfun(b, c = 3, d = 'hello'):
    return b+c

print(myfun(5))
print(myfun(5, 3, 'hello'))

print('-'*50, '\n\n')

def foo(bar):
    bar.append(42)
    print(bar)
    
answer_list = []
foo(answer_list)

print(answer_list)


print('-'*50, '\n\n')


def foo(alist):
    alist.append(1)
    alist = [2, 3]
    print(alist)
    
newlist = [0]
foo(newlist)

print(newlist)

12
--------------------------------------------------


8
8
--------------------------------------------------


[42]
[42]
--------------------------------------------------


[2, 3]
[0, 1]

## Functions are first-class objects

In [77]:
def square(x): return x*x
def applier(f, x): return f(x)
applier(square, 7)

49

## Lambda Notation

In [80]:
f = lambda x, y : 2 * x + y
f

In [81]:
f(3, 4)

10

In [82]:
(lambda x, y: 2 * x + y)(3, 4)

10

In [83]:
def square(x):
    return x*x

def twice(f):
    return lambda x: f(f(x))

twice

In [84]:
quad = twice(square)
quad

In [85]:
quad(5)

625

## map, filter, reduce

In [86]:
def add1(x): return x+1
def add(x, y): return x+y
def odd(x): return x%2 == 1

list(map(add1, [1,2,3,4]))

[2, 3, 4, 5]

In [87]:
list(map(add, [1,2,3,4], [100, 200, 300, 400]))

[101, 202, 303, 404]

In [88]:
list(filter(odd, [1,2,3,4]))

[1, 3]

In [89]:
import functools
functools.reduce(add, [1,2,3,4])

10