In [1]:
from numpy.random import randn
import numpy as np
import os
np.random.seed(12345)
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

### from dataframe to database

In [2]:
df = pd.read_csv('donations.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
import sqlite3
con = sqlite3.connect('donations2.db')

In [4]:
df.to_sql('donation',con,if_exists='replace')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [5]:
%load_ext sql
%sql sqlite:///donations2.db

'Connected: @donations2.db'

In [6]:
%sql SELECT count(*) FROM donation;

 * sqlite:///donations2.db
Done.

[(100000,)]

### database to dataframe

In [7]:
SQL_Query = pd.read_sql_query('select * from donation', con)

df2 = pd.DataFrame(SQL_Query)

In [8]:
df2[:5]

,index,Unnamed: 0,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,0,2395558,C00431445,P80003338,"Obama, Barack","FERRIS, ROBERT",NEW YORK,NY,100164914,BANK OF AMERICA,ANALYST,25.0,29-MAY-08,None,None,None,SA17A,753674
1,1,842715,C00431445,P80003338,"Obama, Barack","SCHLOSS, JULIE",SANTA BARBARA,CA,931102045.0,SELF EMPLOYED,HAIR AND MAKE UP ARTIST,25.0,30-JUN-08,None,None,None,SA17A,753769
2,2,550071,C00431171,P80003353,"Romney, Mitt","JOHNSON, JAMES C.",DENTON,TX,762102981.0,SEWELL AUTOMOTIVE,SALES MANAGER,50.0,20-SEP-07,None,None,None,SA17A,314005
3,3,2117802,C00431445,P80003338,"Obama, Barack","BOLDENOW, BARBARA",MAPLE PLAIN,MN,553599788.0,NOT EMPLOYED,RETIRED,100.0,09-SEP-08,None,None,None,SA17A,753817
4,4,2324132,C00431445,P80003338,"Obama, Barack","SCARDAPANE, ROBERT",SOMERSET,NJ,088731761,HDS,IT,25.0,20-OCT-08,REATTRIBUTION/REDESIGNATION REQUESTED,None,REATTRIBUTION/REDESIGNATION REQUESTED,SA17A,754317